apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aoa-cluster-ops
  namespace: gitops
spec:
  destination:
    namespace: gitops
    server: https://kubernetes.default.svc
  project: default
  source:
    path: cluster/k3s0-ops/helm/app-of-apps
    repoURL: https://github.com/Ujstor/k3s-single-node-multi-cluster-iac
    targetRevision: master
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
