apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: system-ingress-nginx-k3s2
  namespace: gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "4"
    argocd.argoproj.io/hook-dependency: system-cilium
spec:
  destination:
    namespace: ingress-nginx
    server: https://api.k3s2.ujstor.dev:6443
  project: ops-cluster-bootstrap
  source:
    path: cluster/k3s2-win/helm/system/ingress-nginx
    repoURL: https://github.com/Ujstor/k3s-single-node-multi-cluster-iac.git
    targetRevision: master
    helm:
      version: v3
      releaseName: ingress-nginx
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
