apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-win-k3s2
  namespace: gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "9"
spec:
  destination:
    namespace: windows
    server: https://api.k3s2.ujstor.dev:6443
  project: ops-cluster-bootstrap
  source:
    path: cluster/k3s2-win/helm/apps/k8s-win
    repoURL: https://github.com/Ujstor/k3s-single-node-multi-cluster-iac.git
    targetRevision: master
    helm:
      version: v3
      releaseName: k8s-win
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
