---
apiVersion: v1
kind: Secret
metadata:
  name: git-credentials-repo
type: Opaque
stringData:
  GH_ACCESS_TOKEN: ""
  GITEA_ACCESS_TOKEN: ""
  GITEA_USERNAME: ""
  GITEA_PASSWORD: ""
---
apiVersion: v1
rind: Secret
metadata:
  name: git-credentials-stars
type: Opaque
stringData:
  GH_ACCESS_TOKEN: ""
  GITEA_ACCESS_TOKEN: ""
  GITEA_USERNAME: ""
  GITEA_PASSWORD: ""
