metrics-k3s0:
  prometheus-grafana:
    grafana:
      adminPassword: root
      enabled: true
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
          nginx.ingress.kubernetes.io/ssl-redirect: "false"
        hosts:
          -  grafana.k3s0.ujstor.com
        path: /
        tls:
         - secretName: grafana-tls
           hosts:
             - grafana.k3s0.ujstor.com
